/* App.css */
.map-container {
  height: 100vh;  /* 100% of the viewport height */
  width: 100vw;   /* 100% of the viewport width */
  margin: 0;      /* Remove any margin */
  padding: 0;     /* Remove any padding */
}

/* Ensure the body and html elements take up full height */
body, html {
  margin: 0;
  height: 100%;   /* Ensure the body and html elements take full height */
}

#root {
  height: 100%;   /* Make sure the root element takes up full height */
}
