/* App.css */
.map-container {
  height: 100vh;  /* 100% of the viewport height */
  margin: 0;      /* Remove any margin */
  padding: 0;     /* Remove any padding */
}

/* Ensure the body and html elements take up full height */
body, html {
  margin: 0;
  height: 100%;   /* Ensure the body and html elements take full height */
}

#root {
  height: 100%;   /* Make sure the root element takes up full height */
}

.map-coordinates {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000; /* Ensure it's above the map */
  pointer-events: none; /* Allows interaction with map below */
}